@use '../abstracts/variables';

@mixin button {
  width: 80px;
  height: 100%;
  font-size: 1rem;

  &:hover:enabled {
    background-color: #00000011;
  }
  
  &:hover:active {
    background-color: #00000011;
  }
}

@mixin button-2 {
  width: 3.4rem;
  height: 100%;
  border: 1px solid transparent;
  font-size: 1rem;
  cursor: pointer;

  &:hover:enabled {
    background-color: #00000011;
  }

  @media (max-width: variables.$breakpoint-medium) {
    display: none;
  }
}
