@use '../abstracts/variables';

.grid {
  width: variables.$container-width-2;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  justify-content: space-between;
  gap: 0.8rem;
  padding: 2rem 0;

  &__loading {
    grid-column: 2 / 3;
    justify-self: center;
  }
}
