@use '../abstracts/variables';
@use '../abstracts/mixins';

.grid {
  width: variables.$container-width-2;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  justify-content: space-between;
  gap: 0.8rem;
  padding: 1rem 0;

  &__loading {
    grid-column: 1 / -1;
    justify-self: center;
  }

  @media (max-width: variables.$breakpoint-big) {
    @include mixins.grid(repeat(2, max-content));
    width: 100%;
    padding: 1rem;
    justify-content: center;
  }

  @media (max-width: variables.$breakpoint-small) {
    @include mixins.grid(repeat(1, 1fr));
  }
}
