@use '../abstracts/variables';
@use '../abstracts/mixins';

.navbar {
  @include mixins.flexbox(unset, center, center);

  .list {
    @include mixins.grid(repeat(4, 1fr));
    width: variables.$container-width-2;
    padding: 1rem 0;

    .list-1 {
      grid-column: 1 / 2;
    }

    .list-2 {
      grid-column: 4 / -1;
      justify-self: end;

      .list__icon--left {
        @include mixins.icon;
      }

      .list__icon--right {
        @include mixins.icon;
      }
    }
  }
}
