@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../modules/button';

.pagination {
  @include mixins.flexbox(row, center, center);

  &__container {
    @include mixins.flexbox(row, center, center);    
    margin: 1rem 0;
    box-shadow: 0 0 6px 1px rgba($color: #000000, $alpha: 0.3);
    height: 3.4rem;
    border-radius: 0.4rem;

    .btn {
      @include button.button;
    }

    .btn--inactive {
      @include button.button-2;
    }

    .btn--active {
      width: 3.4rem;
      height: 100%;
      border: 1px solid #111;
      font-size: 1rem;
      cursor: pointer;
      font-weight: 700;
    }

    @media (max-width: variables.$breakpoint-medium) {
      @include mixins.flexbox(row, space-between, center);
    }
  }

  @media (max-width: variables.$breakpoint-big) {
    width: 100%;
  }
}
