@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

$container-width-1: 900px;
$container-width-2: 700px;
$container-width-3: 500px;
$container-width-4: 300px;
